# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# Python
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
parts/
bin/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec
MANIFEST
*.pyo

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VSCode
.history/
*.code-workspace

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Celery beat schedule file
celerybeat-schedule

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Logs
*.log
*.out
*.err

# SQLite backups
*.sqlite3
*.db

# OS Files
.DS_Store
Thumbs.db
